<?xml version="1.0" encoding="utf-8"?>
<DataType Key="442e21b0-8794-4c65-8ade-abad28c90427" Alias="[MultiUrlPicker] Single URL Picker" Level="1">
  <Info>
    <Name>[MultiUrlPicker] Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>