<?xml version="1.0" encoding="utf-8"?>
<DataType Key="319f9173-7065-4c74-a9e6-6cbc32c72b95" Alias="Navigation Item - Child Links - Multi URL Picker" Level="1">
  <Info>
    <Name>Navigation Item - Child Links - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>