<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6b574b5b-4237-4733-9111-364c0fb8449a" Alias="[RepeatableTextstrings] Names" Level="1">
  <Info>
    <Name>[RepeatableTextstrings] Names</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>