@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactPage>

@{
	Layout = "Master.cshtml";
}

<div id="kontakt" class="grid-standard form-section form-section--no-padding">
    <div class="grid-standard__category js-in-viewport inView -full">
        <div style="height: 100%;">
            <div>
            </div>
        </div>
    </div>
    <div class="grid-standard__content js-in-viewport inView">
        <div class="grid-standard__body">






    <div id="umbraco_form_464447fa78df4d89982a4a223691c07e" class="umbraco-forms-form newsletterform insights umbraco-forms-bootstrap3-horizontal">

<form action="/da/gorm-agency-indblik/" enctype="multipart/form-data" method="post"><input name="__RequestVerificationToken" type="hidden" value="icTg7Ms__Kz4u9l84VPvNbvGxhTOSAJuYeXJwDjOXJus1xmcn4IvB7CVJGtZQ2OtNVZt23-ySgBom6Sakj9fp17KhhC0mSI546k8dpnVxLg1"><input data-val="true" data-val-required="The FormId field is required." name="FormId" type="hidden" value="464447fa-78df-4d89-982a-4a223691c07e"><input name="FormName" type="hidden" value="newsletterform"><input data-val="true" data-val-required="The RecordId field is required." name="RecordId" type="hidden" value="00000000-0000-0000-0000-000000000000"><input name="PreviousClicked" type="hidden" value=""><input name="Theme" type="hidden" value="bootstrap3-horizontal">            <input type="hidden" name="FormStep" value="0">
            <input type="hidden" name="RecordState" value="Q0ZFQjE2REQ0OEVEMjI5RTVCNzE0OUM1NDVCMjJFRkY3RTQ2RjhDNkRDOEZEMjRBQTA5QjdDMDYyN0E5RDY1QzQ4RjE5RTlGNzlDNDdDNzY2REFGQkI2RUY3NDM2RENGRTg1NzJDRjNFRDBBNzhCMzZBNjJEQjdCNzExREZFMkU1NkZGQjlGOTI2QzA3N0NCQUNFNkY2QkVBOUZENzk5NDkyMTZCNTcwMzI1NTVBMTQ2RjU2NzJDRjk5QTk0OUFBMzYwODM1M0JGQjUyRjE1RURFMjk3MTA3REQxOUQwOTY5QjY1RTRCOEU1OEUwMkUxMzI4NDYwNDk4N0ZGMTFBQ0Y0QzY5OEQ3MjJGMDQ3NkM4N0EwN0JBRTlDNjBENkE5RTk3Nzk2NjhFQTE2QjVEOEVFQjMwRUQ4OTRFRkVCOTNCRjczMjk4NTc2NDZCQTM3N0FERTlFNjJDQzFDRThEMjgxQjgzOEJFRUYwRTBEMUU5Q0Y3Q0MxMjRFRTA2NzAwMjMwQ0FEQ0Q2RkEyQjg3MkFEMDE0NzI3QjhENDUxOTI0MTREMjhBQkIzMDI2MDk3NkUzOTZBRTcwRDI4QTI5QUU4OUYwQkRFNzAzOEE4RjQ1M0REODk1ODc1QzdBQjFBQ0E3QzAxMkNENEUwNTcyN0IwNDcxQTVCRDM1NUYyQzdDMUE5NjQ1RjE0MTk4QjI3NjRCRjY1NDM3NDNDMjEzN0JCMEU5NUMyNkZCMTE3MUNFRjJBMEEyMTAyRTcxMjcwNzlFNjNBOTQyOTlBNDI2NThENUIwRkIyQzY2MkQzQkUzQjhBNTNCODZGNUQ2QzBEQTNDMzJFQzJEQkVBQTRFRkMxMjFDOUUxQTRGNDEyQUU3OTdBQzRFMDAzNzVEQjcwQTU5MzhDRjcxRUJEQTMyRkMxOTEyQzYwMDhERDEwMDcyQjkxQkZCNURBOUNDNjdFM0RDODkzNjhFRDI4MDc4NzAwRTBCMjA0OEZEOTM1MkE0OTRERjYyNTdEQTFFMEQzQ0VCMkVEQUY3N0I5NEYxNTUzQUQ0MDBDRkEwRTYxRENEODQ4MTkwNzEzMEM2QTI0QkFFQjQ1Q0Q4MTMyNjczMjFENDM3Q0RENTVEOTIxNjc5RDdEMThCMEI1OTk3Q0FDRTIxNzY2MEFGMjJBQjM2NzA1REIwN0Q0NkQxNERGNDNEMDI4RDE2RTExMjZCMkQ4RjQyOTUyNkUxQjY2NUZGNTU5NDY2MDY2Q0JGMURCNjdFMjc2M0JFODcxRUNBNzZFOTNCNkMyOEY5NEJDOTUxRTNBMkZDOUE4OUNEM0EyRDlCOEU3Mjc1MDYwMTY0QzUzREE1NTJFRDQ1M0MyMzg2QTU1MEQzM0JBMDY3QTNCRTE0NUZCQTQzRkQ2ODg3QkUy">








<div class="umbraco-forms-page form-horizontal">

        <h4 class="umbraco-forms-caption">Tilmeld dig GORM Agency · INDBLIK</h4>


        <fieldset class="umbraco-forms-fieldset" id="00000000-0000-0000-0000-000000000000">


            <div class="row-fluid">

                    <div class="umbraco-forms-container col-md-12">

                            <div class="form-group  umbraco-forms-field fornavn shortanswer mandatory">

                                    <label for="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" class="col-sm-2 control-label umbraco-forms-label">
                                        Fornavn 
                                            <span class="umbracoForms-Indicator">*</span>
                                    </label>

                                <div class="col-sm-10 umbraco-forms-field-wrapper">

                                    <input type="text" name="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" id="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" data-umb="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" class="text" value="" maxlength="255" placeholder="Skriv dit fornavn" data-val="true" data-val-required="Hov, du mangler lige Fornavn">





<span class="field-validation-valid" data-valmsg-for="f6718dda-0e45-48f9-bf8f-ecfe8a500a9e" data-valmsg-replace="true"></span>
                                </div>


                            </div>
                            <div class="form-group  umbraco-forms-field efternavn shortanswer alternating">

                                    <label for="4e9a699f-c1a4-483e-dbe4-d92f93b32590" class="col-sm-2 control-label umbraco-forms-label">
                                        Efternavn 
                                    </label>

                                <div class="col-sm-10 umbraco-forms-field-wrapper">

                                    <input type="text" name="4e9a699f-c1a4-483e-dbe4-d92f93b32590" id="4e9a699f-c1a4-483e-dbe4-d92f93b32590" data-umb="4e9a699f-c1a4-483e-dbe4-d92f93b32590" class="text" value="" maxlength="255" placeholder="Og dit efternavn">





<span class="field-validation-valid" data-valmsg-for="4e9a699f-c1a4-483e-dbe4-d92f93b32590" data-valmsg-replace="true"></span>
                                </div>


                            </div>
                            <div class="form-group  umbraco-forms-field mail shortanswer mandatory">

                                    <label for="c9204231-7756-4e10-cb50-60870fb4bb73" class="col-sm-2 control-label umbraco-forms-label">
                                        Mail 
                                            <span class="umbracoForms-Indicator">*</span>
                                    </label>

                                <div class="col-sm-10 umbraco-forms-field-wrapper">

                                    <input type="text" name="c9204231-7756-4e10-cb50-60870fb4bb73" id="c9204231-7756-4e10-cb50-60870fb4bb73" data-umb="c9204231-7756-4e10-cb50-60870fb4bb73" class="text" value="" maxlength="255" placeholder="Og så lige din mail" data-val="true">





<span class="field-validation-valid" data-valmsg-for="c9204231-7756-4e10-cb50-60870fb4bb73" data-valmsg-replace="true"></span>
                                </div>


                            </div>
                            <div class="form-group  umbraco-forms-field jeggivermintilladelsetil multiplechoice mandatory alternating">

                                    <label for="fda6f803-2e3d-47d2-8e84-7606ff5f36bc" class="col-sm-2 control-label umbraco-forms-label">
                                        Jeg giver min tilladelse til ... 
                                            <span class="umbracoForms-Indicator">*</span>
                                    </label>

                                <div class="col-sm-10 umbraco-forms-field-wrapper">




<span class="checkboxlist" id="fda6f803-2e3d-47d2-8e84-7606ff5f36bc" data-umb="fda6f803-2e3d-47d2-8e84-7606ff5f36bc">
    <input type="checkbox" class="form-control" name="fda6f803-2e3d-47d2-8e84-7606ff5f36bc" id="fda6f803-2e3d-47d2-8e84-7606ff5f36bc_0" data-umb="fda6f803-2e3d-47d2-8e84-7606ff5f36bc_0" value="Ja tak, jeg vil gerne modtage relevante nyhedsbreve og markedsføring fra GORM Agency via e-mail, Facebook, Instagram samt andre sociale medier og bannere." data-val="true" data-val-required="Det er nødvendigt, at du giver din tilladelse til at blive kontaktet, for at du kan modtage vores inspirationsmail." data-rule-required="true" data-msg-required="Det er nødvendigt, at du giver din tilladelse til at blive kontaktet, for at du kan modtage vores inspirationsmail.">
    <label for="fda6f803-2e3d-47d2-8e84-7606ff5f36bc_0">Ja tak, jeg vil gerne modtage relevante nyhedsbreve og markedsføring fra GORM Agency via e-mail, Facebook, Instagram samt andre sociale medier og bannere.</label>
    <br>
</span>

<span class="field-validation-valid" data-valmsg-for="fda6f803-2e3d-47d2-8e84-7606ff5f36bc" data-valmsg-replace="true"></span>
                                </div>


                            </div>
                            <div class="form-group  umbraco-forms-field tag hidden">


                                <div class="col-sm-10 umbraco-forms-field-wrapper">

                                    <input type="hidden" name="1e83d872-0f7f-463a-8476-795645276a9e" id="1e83d872-0f7f-463a-8476-795645276a9e" data-umb="1e83d872-0f7f-463a-8476-795645276a9e" class="hidden" value="newsletter">




<span class="field-validation-valid" data-valmsg-for="1e83d872-0f7f-463a-8476-795645276a9e" data-valmsg-replace="true"></span>
                                </div>


                            </div>

                    </div>
            </div>

        </fieldset>


    <div style="display: none" aria-hidden="true">
        <input type="text" name="464447fa78df4d89982a4a223691c07e">
    </div>


    <div class="umbraco-forms-navigation row-fluid">

        <div class="col-sm-10 col-sm-offset-2">
                <input type="submit" class="btn btn-primary" value="Tilmeld" name="submitbtn">
        </div>


    </div>

</div>

<input name="ufprt" type="hidden" value="5ADA6805DC3241B292ED8FB5D5EAFBA08A297EA8FB8BF36E501C71DE86D8EA709F3499D5AD8F141735558692DBA6A3A5F4F18D0DC02A9ECB837C661B2C7DD633C5B5762D57C7606509A979CDE430A364B7BB4AFDF4A2366EB210BEE28C84E82DDB1C0A6EF8FDF783D69762EE5D812EE996BC99EA720529B9C8B3B3541651FC252054397458DE3890ADF07500D3BA5761"></form>





<script type="application/javascript">
    if (typeof umbracoFormsCollection === 'undefined') var umbracoFormsCollection = [];
    umbracoFormsCollection.push("%7B%22formId%22:%22464447fa78df4d89982a4a223691c07e%22,%22fieldSetConditions%22:%7B%7D,%22fieldConditions%22:%7B%7D,%22recordValues%22:%7B%7D%7D");
</script>


<script type="application/javascript" src="/App_Plugins/UmbracoForms/Assets/Themes/Default/umbracoforms.js" defer="defer"></script><link rel="stylesheet" href="/app_plugins/umbracoforms/assets/defaultform.css">    </div>

        </div>
    </div>
</div>

