<?xml version="1.0" encoding="utf-8"?>
<Content Key="fbe8bcef-d5a9-450d-b170-f31c42344933" Alias="About" Level="2">
  <Info>
    <Parent Key="ff0175a8-a4aa-4050-af1b-0d5458f81e8a">Forside</Parent>
    <Path>/Forside/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2023-01-14T10:27:20</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09ef3ee3-4c97-416f-ab5a-746fd21a463a">ContactPage</Template>
  </Info>
  <Properties>
    <lightTitleBackground>
      <Value><![CDATA[1]]></Value>
    </lightTitleBackground>
    <subtitle>
      <Value><![CDATA[To reach us fill out this form]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[About]]></Value>
    </title>
  </Properties>
</Content>