<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff0175a8-a4aa-4050-af1b-0d5458f81e8a" Alias="Forside" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Forside</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-01-03T19:59:42</CreateDate>
    <NodeName Default="Forside" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aa023e71-3bc8-4d5e-8215-25c2240da014">HomePage</Template>
  </Info>
  <Properties>
    <lightTitleBackground>
      <Value><![CDATA[0]]></Value>
    </lightTitleBackground>
    <subtitle>
      <Value><![CDATA[testsub]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[test]]></Value>
    </title>
  </Properties>
</Content>