<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e32d887d-2a19-4892-8812-3f6507933c1f" Alias="productProperties" Level="2">
  <Info>
    <Name>Product Properties</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6894f9e5-57dd-4f73-8251-ed2435808d5d</Key>
      <Name>Product Details</Name>
      <Alias>productDetails</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A description of the product.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="product/productDetails">Product Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9ea49e6e-c1c2-4ea6-bcfa-858f40a8ce3b</Key>
      <Name>Product Image</Name>
      <Alias>productImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[An image of the product.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="product/productImage">Product Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c75a7dcc-3f73-4666-97e8-3e80d1817319</Key>
      <Name>Product Name</Name>
      <Alias>productName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Name of the product.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="product/productName">Product Name</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9fd75080-eaf8-4715-86aa-78df8d3be731</Key>
      <Name>Product Price</Name>
      <Alias>productPrice</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The price of the product.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="product/productPrice">Product Price</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1c30e694-f458-4324-9613-c805d1ee84f9</Key>
      <Caption>Product Image</Caption>
      <Alias>product/productImage</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>b1d12be4-b3ca-466d-8160-3ac534e74492</Key>
      <Caption>Product Name</Caption>
      <Alias>product/productName</Alias>
      <Type>Group</Type>
      <SortOrder>15</SortOrder>
    </Tab>
    <Tab>
      <Key>b758c4cd-2397-4398-8473-88d76249c051</Key>
      <Caption>Product Price</Caption>
      <Alias>product/productPrice</Alias>
      <Type>Group</Type>
      <SortOrder>20</SortOrder>
    </Tab>
    <Tab>
      <Key>dd888c19-b117-4e17-a30a-2e87617fd2f7</Key>
      <Caption>Product</Caption>
      <Alias>product</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
    <Tab>
      <Key>fcfa511b-10bd-4c75-8fdb-65886716d3c6</Key>
      <Caption>Product Details</Caption>
      <Alias>product/productDetails</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>